*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}
.note{
    width: 100%;
    min-height: 100vh;
    background:rgb(255, 183, 0) ;
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;
}
.note h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}
.note h1 img{
    width: 50px;
}
.note button{
    display: flex;
    align-items: center;
    background: linear-gradient(#9418fd ,#571094);
    color: aqua;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 20px;
}
.note button img{
    width: 40px;
    margin-right: 8px;
}
.notecontainer{

}
.input-box{
    position: relative;
    width: 100px;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;   
}
.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}